* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --hue: 194;
  --bg-color: hsl(0, 0%, 100%);
  --primary-color: hsl(var(--hue), 97%, 31%);
  --secondary-color: hsl(240, 9%, 89%);
  font-size: 62.5%;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
}
body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alert {
  background: #ffedee;
  color: #fa4d56;
  border-radius: 4px;
  padding: 0.8rem;
  position: fixed;
  top: 10rem;
  font-size: 1.6rem;
  display: flex;
  gap: 5px;
  align-items: center;
}
.hide {
  display: none;
}
.minutesAlert {
  animation: minutesAlert 100ms 100ms;
}
main {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 1rem + 8vw, 19.2rem);
}
#timer {
  font-size: clamp(7rem, 5rem + 15vw, 12.6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 14.8rem;
}
.display {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.7rem;
}
.controls {
  display: flex;
  gap: clamp(2rem, 1rem + 2vw, 4rem);
}
#sounds {
  display: grid;
  grid-template-areas:
    'A B'
    'C D';
  gap: clamp(2rem, 1rem + 4vw, 3.2rem);

  justify-content: center;
}
#sounds div {
  padding: clamp(3.8rem, 1rem + 5vw, 4.7rem);
  background: var(--secondary-color);
  border-radius: 2.4rem;
}
#sounds div:hover {
  background: var(--primary-color);
}
#sounds div:hover svg path {
  fill: white;
}
#sounds .box-clicked {
  background: var(--primary-color);
}
#sounds div.box-clicked svg path {
  fill: white;
}
#sounds div svg {
  width: 4rem;
  height: 4rem;
}
@keyframes minutesAlert {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@media screen and (min-width: 900px) {
  main {
    flex-direction: row;
    align-items: center;
  }
}
